.form-header {
    background-color: var(--bs-bluegray);
}

.form-footer {
    background-color: yellow;
    width: 100%;
}

.form-header-warning {
    background-color: var(--bs-danger);
}

.modal-title {
    color: white;
}

.form-confirm-delete {
    visibility: hidden;
}

.form-confirm-delete button {
    margin-left: 8px;
}



.form-input-invalid {
    border-bottom: 2px solid var(--bs-red);
}

.text-center.w-responsive.mx-auto.mb-5.form_test {
    margin: 0px 0px 12px !important;
}


.margin-top {
    margin-top: 20px;
}

.form_tooltip {
    position: relative;
    margin-left: 10px;
    display: inline-block;
    color: var(--bs-bluegray);
    cursor: pointer;
}

.form_tooltip .form_tooltip_text {
    visibility: hidden;
    width: 200px;
    background-color: var(--bs-bluegray);
    color: white;
    text-align: left;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
}

.form_tooltip:hover .form_tooltip_text {
    visibility: visible;
}

.required {
    color: red;
    /*font-size: 2rem;*/
}

.RAM_container {
    display: flex;
    flex-direction: row;
}

.RAM_container .RAM_button:first-child {
    margin-left: 0px;
}

.RAM_container .RAM_button {
    margin-left: 10px;
    margin-bottom: 10px;
}