.form-header {
    background-color: var(--bs-bluegray);
}

.form-footer {
    background-color: yellow;
    width: 100%;
}

.form-header-warning {
    background-color: var(--bs-danger);
}

.modal-title {
    color: white;
}

.form-confirm-close {
    display: none;
}

*.div-hidden {
    visibility: hidden;
}

*.div-visible {
    display: block;
}

*.mb10px {
    margin-bottom: 10px !important;
}

.data-changed-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.data-changed-div button {
    margin-left: 20px;
}


.form-confirm-delete .btn-delete {
    visibility: visible;
}

.btn-invisible {
    visibility: hidden;
}

.btn-restore {
    visibility: hidden;
}

.form-confirm-delete button,
.form-confirm-close button
{
    margin-left: 8px;
}

.form-input-invalid {
    border-bottom: 2px solid var(--bs-red);
    background-color: var(--bs-light-red);
}

.text-center.w-responsive.mx-auto.mb-5.form_test {
    margin: 0px 0px 12px !important;
}

*.data_changed {
    visibility: hidden;
    display: none;
    font-weight: 700;
    color: var(--bs-teal) !important;
}

.text-center.w-responsive.mx-auto.mb-5.data_changed.visible {
    visibility: visible;
}

.margin-top {
    margin-top: 20px;
}

.form_tooltip {
    position: relative;
    margin-left: 10px;
    display: inline-block;
    color: var(--bs-bluegray);
    cursor: pointer;
}

.form_tooltip .form_tooltip_text {
    visibility: hidden;
    width: 200px;
    background-color: var(--bs-bluegray);
    color: white;
    text-align: left;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
}

.form_tooltip:hover .form_tooltip_text {
    visibility: visible;
}

.required {
    color: red;
    /*font-size: 2rem;*/
}

.RAM_container {
    display: flex;
    flex-direction: row;
}

.RAM_container .RAM_button:first-child {
    margin-left: 0px;
}

.RAM_container .RAM_button {
    margin-left: 10px;
    margin-bottom: 10px;
}

*.btn-delete-image {
    position: absolute;
    right: 20px;
    margin-top: 5px;
}

*.mrx1 {
    margin-right: 0.5rem;
}

*.equipment-image-container {
    height: 140px;
    background-color: red;
}

.warning-icon {
    font-size: 1.5rem;
    display: none;
}

.warning-icon.div-visible {
    display: block;
}

.status1 {
    background-color: limegreen !important;
}

.status2 {
    background-color: red !important;
}